#{extends 'main.html' /} #{set title:'Home' /}
<meta charset="UTF-8">
<style>
.hero-unit {
	margin-top: 40px;
}
</style>
<div class="hero-unit">
	<h1>Microblog</h1>
	<p>Microblog 是一个基于 play 框架的博客</p>
	<p>
		<a class="btn btn-primary btn-large" href="@{Application.login()}"> 登录 </a>
		<a class="btn  btn-large" href="@{Application.register()}">注册 </a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>Dengqu说</h2>
		<p>春暖花开 该走的还是要走的，没有谁能够阻止得了 也许这就是生活吧，没有人知道下一秒会知道发生什么事</p>
	</div>

	<div class="span4">
		<h2>Dengqu说</h2>
		<p>春暖花开 该走的还是要走的，没有谁能够阻止得了 也许这就是生活吧，没有人知道下一秒会知道发生什么事</p>
	</div>

	<div class="span4">
		<h2>Dengqu说</h2>
		<p>春暖花开 该走的还是要走的，没有谁能够阻止得了 也许这就是生活吧，没有人知道下一秒会知道发生什么事</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h2>Dengqu说</h2>
		<p>春暖花开 该走的还是要走的，没有谁能够阻止得了 也许这就是生活吧，没有人知道下一秒会知道发生什么事</p>
	</div>

	<div class="span4">
		<h2>Dengqu说</h2>
		<p>春暖花开 该走的还是要走的，没有谁能够阻止得了 也许这就是生活吧，没有人知道下一秒会知道发生什么事</p>
	</div>

	<div class="span4">
		<h2>Dengqu说</h2>
		<p>春暖花开 该走的还是要走的，没有谁能够阻止得了 也许这就是生活吧，没有人知道下一秒会知道发生什么事</p>
	</div>
</div>

<ul class="pager">
	<li><a href="#">前一页</a></li>
	<li><a href="#">下一页</a></li>
</ul>